<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Curso Angular</h1>
    <h2>String interpolation</h2>
    <h2>{{ "Hola mundo ".repeat(5) }}</h2>
    <p>3 + 3 = {{ 3 + 3 }}</p>
    <h3>Hola mi nombre es {{ name }} y tengo {{ age }}</h3>
    <img src="{{ img }}" alt="imagen random" />
    <hr />
    <h2>Propiedades</h2>
    <button [disabled]="btnDisabled">Enviar</button>
    <br />
    <br />
    <input type="text" [value]="name" />
    <br />
    <progress [value]="age" max="100"></progress>
    <br />
    <br />
    <h2>Objeto</h2>
    <p>Nombre: {{ person.name }}</p>
    <p>Edad: {{ person.age }}</p>
    <p>Profesión: {{ person.profession }}</p>
    <p>Estado: {{ person.state }}</p>
    <img [src]="person.profileimg" alt="imagen de perfil" />
    <hr />
    <h2>Eventos</h2>
    <button [disabled]="btnDisabled">Enviar</button>
    <button (click)="toggleButtton()">Toggle Button</button>
    <p>Edad {{ person.age }}</p>
    <button (click)="incrementarEdad()">Incrementar edad</button>
    <div class="box" (scroll)="onScroll($event)">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum,
        necessitatibus explicabo quae eligendi eum fugiat exercitationem
        dignissimos facere illum sunt, iusto deleniti esse saepe ea corrupti
        nemo molestiae obcaecati deserunt.
      </p>
    </div>
    <br />
    <input type="text" [value]="person.name" (keyup)="changeName($event)" />
    <hr />
    <h2>Data binding</h2>
    <p>Nombre: {{ person.name }}</p>
    <input
      type="text"
      required
      #nameInput="ngModel"
      [(ngModel)]="person.name"
    />
    <p>Valid: {{ nameInput.valid }}</p>

    <p>Edad: {{ person.age }}</p>
    <input
      type="number"
      max="18"
      min="10"
      required
      #ageInput="ngModel"
      [(ngModel)]="person.age"
    />
    <p>Valid: {{ ageInput.valid }}</p>
    <hr />
    <h2>Estructuras de Control</h2>
    <h3>*ngIf</h3>
    <input
      type="text"
      required
      #nameInput2="ngModel"
      [(ngModel)]="person.name"
    />
    <p *ngIf="person.name === 'nicolas'">Soy nicolas</p>
    <p *ngIf="person.name === 'julian' && person.age === 18; else myBlock">
      Soy julian
    </p>
    <ng-template #myBlock>
      <p>Nombre no valido</p>
    </ng-template>
    <h3>ngFor</h3>
    <input type="text" required #nameInput2="ngModel" [(ngModel)]="newEmoji" />
    <button (click)="addEmoji()">Add emoji</button>
    <!-- mostrar lista de emojis -->
    <ul>
      <!-- mostrar mensaje si la lista esta vacia -->
      <li *ngIf="emojis.length === 0">No hay emojis</li>
      <li *ngFor="let emoji of emojis; index as i">
        {{ i }} {{ emoji }} <button (click)="deleteEmoji(i)">Eliminar</button>
      </li>
      <h3>ngFor Arrays</h3>
      <div>
        <div *ngFor="let product of products">
          <p>Nombre: {{ product.name }}</p>
          <p>Precio: {{ product.price }}</p>
          <img width="250" [src]="product.image" alt="" />
        </div>
      </div>
    </ul>
    <hr />
    <h2>ngSwitch</h2>
    <input type="text" required [(ngModel)]="person.name" />
    <div [ngSwitch]="person.name">
      <p *ngSwitchCase="'nicolas'">La persona es nicolas</p>
      <p *ngSwitchCase="'julian'">La persona es Julian</p>
      <p *ngSwitchCase="'camilo'">La persona es Camilo</p>
      <p *ngSwitchDefault>No hace match</p>
    </div>
  </body>
</html>
